<header>
    <button (click)="irParaTelaInicial()">
      <img src="assets/imagens/logo.png" alt="Logo da aplicação googleLibrum">
    </button>
    <div class="cabecalho">
      <a href="https://github.com/mariaelisagmt" target="_blank" class="links"><span class="material-symbols-outlined icon">info</span>Sobre</a>
      <a href="https://www.linkedin.com/in/maria-elisa-gomes-de-matos/" target="_blank"class="links"><span class="material-symbols-outlined icon">call</span>Contato</a>
    </div>
</header>